{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock style %}
{% block body %}
<div class="section">
    <div class="heading">HTML/CSS</div>
    <div class="content">
      <ul>
        <li style="font-size: 30px;">HTML Basics</li>
        <li style="font-size: 30px;">Semantic HTML</li>
        <li style="font-size: 30px;">Forms and Validation</li>
        <li style="font-size: 30px;">Multimedia Elements (Audio, Video)</li>
        <li style="font-size: 30px;">CSS Fundamentals</li>
        <li style="font-size: 30px;">CSS Box Model</li>
        <li style="font-size: 30px;">Flexbox</li>
        <li style="font-size: 30px;">Grid Layout</li>
        <li style="font-size: 30px;">CSS Animations</li>
        <li style="font-size: 30px;">Transitions</li>
        <li style="font-size: 30px;">Keyframe Animations</li>
        <li style="font-size: 30px;">Responsive Design</li>
        <li style="font-size: 30px;">Media Queries</li>
        <li style="font-size: 30px;">CSS Variables</li>
        <li style="font-size: 30px;">CSS Frameworks (TailwindCSS)</li>
      </ul> 
    </div>
  </div>

  <div class="section">
    <div class="heading">JavaScript</div>
    <div class="content">
        <ul>
            <li style="font-size: 30px;">Introduction to JavaScript
            </li>
            <li style="font-size: 30px;">Functions (Declaration, Expression, Arrow)</li>
            <li style="font-size: 30px;">Scope (Global, Local, Block)
            </li>
            <li style="font-size: 30px;">Closures
            </li>
            <li style="font-size: 30px;">
                Callbacks
                </li>
            <li style="font-size: 30px;">Promises
            </li>
            <li style="font-size: 30px;">Async/Await
            </li>
            <li style="font-size: 30px;">Error Handling
            </li>
            <li style="font-size: 30px;">Event Loop</li>
            <li style="font-size: 30px;">DOM Manipulation
            </li>
            <li style="font-size: 30px;">Event Handling
            </li>
            <li style="font-size: 30px;">Object-Oriented Programming (OOP)</li>
            <li style="font-size: 30px;">Prototypes
            </li>
            <li style="font-size: 30px;">Inheritance
            </li>
            <li style="font-size: 30px;">'this' Keyword
            </li>
            <li style="font-size: 30px;">ES6 Features (Destructuring, Spread Operator)
            </li>
            <li style="font-size: 30px;">JSON Handling

            </li>
            <li style="font-size: 30px;">
                Fetch API
            </li>
          </ul>
    </div>
  </div>

  <div class="section">
    <div class="heading">React JS</div>
    <div class="content">
        <ul>
            <li>JSX</li>
            <li>Functional Components</li>
            <li>Class Components</li>
            <li>Props</li>
            <li>State</li>
            <li>useState Hook</li>
            <li>useEffect Hook</li>
            <li>React Router</li>
            <li>Context API</li>
            <li>Redux</li>
            <li>Hooks (useMemo, useCallback, useRef)</li>
            <li>Form Handling</li>
            <li>Two-Way Binding</li>
            <li>Higher-Order Components</li>
            <li>Lazy Loading</li>
            <li>Component Lifecycle</li>
          </ul>
    
    </div>
  </div>

  <div class="section">
    <div class="heading">Data Structures and Algorithms (DSA)</div>
    <div class="content">
        <ul>
            <li>Arrays</li>
            <li>Linked Lists</li>
            <li>Stacks</li>
            <li>Queues</li>
            <li>Hash Tables</li>
            <li>Trees (Binary, BST)</li>
            <li>Graphs</li>
            <li>Sorting Algorithms</li>
            <li>Searching Algorithms</li>
            <li>Dynamic Programming</li>
            <li>Greedy Algorithms</li>
            <li>Backtracking</li>
            <li>Recursion</li>
            <li>Time Complexity</li>
            <li>Space Complexity</li>
          </ul>
    
    </div>
  </div>

  <div class="section">
    <div class="heading">Node.js and Express [Backend]</div>
    <div class="content">
        <ul>
            <li>HTTP Server</li>
            <li>File Handling</li>
            <li>Routing in Express</li>
            <li>REST APIs</li>
            <li>Middleware</li>
            <li>Authentication (JWT, OAuth)</li>
            <li>Session Management</li>
            <li>Cookies</li>
            <li>Error Handling</li>
            <li>WebSockets (Socket.io)</li>
            <li>File Uploads</li>
            <li>API Rate Limiting</li>
            <li>CORS</li>
            <li>Testing (Mocha, Chai)</li>
            <li>Security (XSS, CSRF, DOS)</li>
            <li>Environment Variables</li>
            <li>Debugging</li>
          </ul>
    

    
    </div>
  </div>


  <div class="section">
    <div class="heading">Databases</div>
    <div class="content">
        <ul>
            <li>Mongo DB</li>
            <li>Aggregation in MongoDB
            </li>
            <li>Indexing
            </li>
            <li>Relationships in MongoDB</li>
            <li>Redis
            </li>
            <li>Replication
            </li>
            <li>Sharding
            </li>
            <li>MySQL
            </li>
            <li>Queries
            </li>
            <li>Joins in MySQL
            </li>
            <li>Normalization</li>
            <li>ACID Properties</li>
            <li>Transactions
            </li>
            <li>Stored Procedures & Function</li>
            <li>Triggers
            </li>
            <li>Optimization</li>
            <li>Database Design</li>
          </ul>
    </div>
  </div>

  <div class="section">
    <div class="heading">Git/GitHub</div>
    <div class="content">
        <ul>
            <li>Version Control Basics
            </li>
            <li>Branching and Merging
            </li>
            <li>Pull Requests

            </li>
            <li>Git Workflows (GitFlow)
            </li>
            <li>Conflict Resolution

            </li>
            <li>GitHub Collaboration
            </li>
            <li>CI/CD with GitHub Actions
            </li>
            
          </ul>
    </div>
  </div>


  <div class="section">
    <div class="heading">DevOps and Deployment</div>
    <div class="content">
        <ul>
            <li>Node.js Deployment (Heroku, AWS)
            </li>
            <li>CI/CD Pipelines

            </li>
            <li>Docker


            </li>
            <li>Containerization
            </li>
            <li>Versioning

            </li>
            <li>Load Balancing
            
          </ul>
    </div>
  </div>


  <div class="section">
    <div class="heading">Additional Topics
    </div>
    <div class="content">
        <ul>
            <li>Operating System

            </li>
            <li>
                Computer Network
                

            </li>
            <li>SEO Principles</li>
            <li>GSAP Animations

            </li>
            <li>Framer Motion


            </li>
            <li>Al. Tools (ChatGPT, GitHub Copilot)</li>

            <li>Resume building
            </li>
            <li>Interview Preparation
            </li>

            <li>Mock Interview</li>
            
          </ul>
    </div>
  </div>
  
{% endblock body%}