#co1{
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: absolute;
    top: 200px;

}
#co2{
    width: 90%;
    height: 100px;
    position: absolute;
    top: 470px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 20px;
    color: white;
}
.cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 20px;
    position: absolute;
    top: 500px;
}
.card {
    background-color: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}
.card-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-content {
    padding: 55px;
    text-align: left;
}
