*{
    padding: 0px;
    margin: 0px;
}
mark{
    background-color: transparent;
    color: #24cfa6;
}
#bootcamp_youtube{
    display: inline-block;
    position: relative;
    left: 49%;
    top: -260px;
    border-radius: 15px;
}
#bootcamp_header{
    position: relative;
    left: 6%;
    top: 48px;
    width: 550px;
    height: 300px;
    display: inline-block;
}
#bootcamp_heading{
    word-spacing: -1px;
    line-height: 1.1;
    font-family: helvetic;
    color: white;
    font-size: 45px;
}
#start_date_container,#placement_assistance_container{
    color: white;
    font-family: helvetic;
    text-align: center;
    background-color: rgb(63, 61, 61);
    padding: 10px 16px;
    font-size: 14px;
    border-radius: 5px;
    position: relative;
    top: -476px;
    left: 6%;
}
#placement_assistance_container{
    position: relative;
    left: 7.5%;
}
#blue_tick_image{
    height: 23px;
    position: relative;
    top: 5px;
    left: 5px;
    padding-right: 6px;
}
#bootcamp_price_container{
    position: relative;
    letter-spacing: 1px;
    top: -390px;
    left: -20.5%;
}
#bootcamp_price_header{
    font-family: helvetic1;
    color: white;
    display: inline;
}
#bootcamp_price_mark{
    font-family: helvetic;
    letter-spacing: -1px;
    font-size: 25px;
}
#bootcamp_price_gst{
    font-size: 18px;
    color: white;
    font-family: helvetic1;
    letter-spacing: -0.5px;
}
#seats_button{
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    font-family: helvetic;
    font-size: 20px;
    padding: 18px 22px;
    background-color:#24cfa6;
    filter: blur(0.8px);
    position: relative;
    top: -350px;
    left: 6%;
}
.consistency_heading{
    color: white;
    font-family: helvetic;
    position: relative;
    left: 6%;
    font-size: 87px;
    top: -250px;
    letter-spacing: -1px;
    display: inline;
}
#consis_mark{
    font-family: helvetic;
}
.button_span{
    font-family: helvetic;
    color: white;
    border: none;
    outline: none;
    background-color: rgb(53, 51, 51);
    border-radius: 30px;
    padding: 7px 25px;
    position: relative;
    top: -215px;
    left: 6%;
    font-size: 40px;
    margin-right: 20px;
}
#timing_heading{
    width: 400px;
    height: 500px;
    position: relative;
    left: 6%;
    color: white;
    font-family: helvetic;
    font-size: 70px;
    font-weight: 900;
}
#hours_mark,#non_stop_header{
    font-family: helvetic;
    font-size: 165px;
    letter-spacing: -2px;
    display: inline;
}
#everyday{
    font-family: helvetic;
    font-size: 60px;
}
#day_content{
    border: none;
    outline: none;
    background-color: transparent;
    font-family: helvetic;
    font-size: 25px;
    color: white;
    position: relative;
    left: 6%;
    top: 35px;
}